{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HTML-шаблон</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/headhesive.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>

	<div class="container-fluid banner header">
		<div class="row">
			<div class="col-xs-12 col-sm-12 d-block mx-auto">
				<div class="row h-100">
				<div class="col-6 col-lg-3 text-center my-auto">
					<p class="logo">FELIX HOTEL</p>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#hot_products" class="yakor">
						<p class="links_to_sections">С НАМИ ВЫГОДНО</p>
					</a>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#partners" class="yakor">
						<p class="links_to_sections">НАМ ДОВЕРЯЮТ</p>
					</a>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#order" class="yakor">
						<p class="links_to_sections">НАС РЕКОМЕНДУЮТ</p>
					</a>
				</div>
				<div class="col-6 col-lg-3 text-center my-auto">
					<div class="col-12 py-2">
						<button type="button" class="btn btn-dark call_request" data-toggle="modal" data-target="#call_request_modal">ЗАКАЗАТЬ ЗВОНОК</button>
                        <div class="office_number mt-xs-1 dropdown show">
                          <p class="office_number mt-xs-1" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="wtf" src="https://web.whatsapp.com/img/94e99ab189284094867d2e1220e42e9f.png">
                            <a href="#" role="button" style="color: #25d366">0779222332</a>
                          </p>

                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="tel:+996779222332"><svg class="mr-2" version="1.1" width="15" height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 578.106 578.106" style="enable-background:new 0 0 578.106 578.106;" xml:space="preserve"><g><g><path style="fill:#010002;" d="M577.83,456.128c1.225,9.385-1.635,17.545-8.568,24.48l-81.396,80.781
			c-3.672,4.08-8.465,7.551-14.381,10.404c-5.916,2.857-11.729,4.693-17.439,5.508c-0.408,0-1.635,0.105-3.676,0.309
			c-2.037,0.203-4.689,0.307-7.953,0.307c-7.754,0-20.301-1.326-37.641-3.979s-38.555-9.182-63.645-19.584
			c-25.096-10.404-53.553-26.012-85.376-46.818c-31.823-20.805-65.688-49.367-101.592-85.68
			c-28.56-28.152-52.224-55.08-70.992-80.783c-18.768-25.705-33.864-49.471-45.288-71.299
			c-11.425-21.828-19.993-41.616-25.705-59.364S4.59,177.362,2.55,164.51s-2.856-22.95-2.448-30.294
			c0.408-7.344,0.612-11.424,0.612-12.24c0.816-5.712,2.652-11.526,5.508-17.442s6.324-10.71,10.404-14.382L98.022,8.756
			c5.712-5.712,12.24-8.568,19.584-8.568c5.304,0,9.996,1.53,14.076,4.59s7.548,6.834,10.404,11.322l65.484,124.236
			c3.672,6.528,4.692,13.668,3.06,21.42c-1.632,7.752-5.1,14.28-10.404,19.584l-29.988,29.988c-0.816,0.816-1.53,2.142-2.142,3.978
			s-0.918,3.366-0.918,4.59c1.632,8.568,5.304,18.36,11.016,29.376c4.896,9.792,12.444,21.726,22.644,35.802
			s24.684,30.293,43.452,48.653c18.36,18.77,34.68,33.354,48.96,43.76c14.277,10.4,26.215,18.053,35.803,22.949
			c9.588,4.896,16.932,7.854,22.031,8.871l7.648,1.531c0.816,0,2.145-0.307,3.979-0.918c1.836-0.613,3.162-1.326,3.979-2.143
			l34.883-35.496c7.348-6.527,15.912-9.791,25.705-9.791c6.938,0,12.443,1.223,16.523,3.672h0.611l118.115,69.768
			C571.098,441.238,576.197,447.968,577.83,456.128z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
<path d="M0 58l4.988-14.963C2.457 38.78 1 33.812 1 28.5 1 12.76 13.76 0 29.5 0S58 12.76 58 28.5 45.24 57 29.5 57c-4.789 0-9.299-1.187-13.26-3.273L0 58z" fill="#2cb742"></path><path d="M47.683 37.985c-1.316-2.487-6.169-5.331-6.169-5.331-1.098-.626-2.423-.696-3.049.42 0 0-1.577 1.891-1.978 2.163-1.832 1.241-3.529 1.193-5.242-.52l-3.981-3.981-3.981-3.981c-1.713-1.713-1.761-3.41-.52-5.242.272-.401 2.163-1.978 2.163-1.978 1.116-.627 1.046-1.951.42-3.049 0 0-2.844-4.853-5.331-6.169a2.7261 2.7261 0 0 0-3.203.482l-1.758 1.758c-5.577 5.577-2.831 11.873 2.746 17.45l5.097 5.097 5.097 5.097c5.577 5.577 11.873 8.323 17.45 2.746l1.758-1.758c.846-.848 1.041-2.147.481-3.204z" fill="#fff"></path></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="https://wa.me/996779222332"><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 58 58"><path d="M0 58l4.988-14.963C2.457 38.78 1 33.812 1 28.5 1 12.76 13.76 0 29.5 0S58 12.76 58 28.5 45.24 57 29.5 57c-4.789 0-9.299-1.187-13.26-3.273L0 58z" fill="#2cb742"></path><path d="M47.683 37.985c-1.316-2.487-6.169-5.331-6.169-5.331-1.098-.626-2.423-.696-3.049.42 0 0-1.577 1.891-1.978 2.163-1.832 1.241-3.529 1.193-5.242-.52l-3.981-3.981-3.981-3.981c-1.713-1.713-1.761-3.41-.52-5.242.272-.401 2.163-1.978 2.163-1.978 1.116-.627 1.046-1.951.42-3.049 0 0-2.844-4.853-5.331-6.169a2.7261 2.7261 0 0 0-3.203.482l-1.758 1.758c-5.577 5.577-2.831 11.873 2.746 17.45l5.097 5.097 5.097 5.097c5.577 5.577 11.873 8.323 17.45 2.746l1.758-1.758c.846-.848 1.041-2.147.481-3.204z" fill="#fff"></path></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="viber://chat?number=+996779222332"><svg class="mr-2" version="1.1" width="15" height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 455.731 455.731" style="enable-background:new 0 0 455.731 455.731;" xml:space="preserve"><g><rect x="0" y="0" style="fill:#7D3DAF;" width="455.731" height="455.731"/><g><path style="fill:#FFFFFF;" d="M371.996,146.901l-0.09-0.36c-7.28-29.43-40.1-61.01-70.24-67.58l-0.34-0.07
			c-48.75-9.3-98.18-9.3-146.92,0l-0.35,0.07c-30.13,6.57-62.95,38.15-70.24,67.58l-0.08,0.36c-9,41.1-9,82.78,0,123.88l0.08,0.36
			c6.979,28.174,37.355,58.303,66.37,66.589v32.852c0,11.89,14.49,17.73,22.73,9.15l33.285-34.599
			c7.219,0.404,14.442,0.629,21.665,0.629c24.54,0,49.09-2.32,73.46-6.97l0.34-0.07c30.14-6.57,62.96-38.15,70.24-67.58l0.09-0.36
			C380.996,229.681,380.996,188.001,371.996,146.901z M345.656,264.821c-4.86,19.2-29.78,43.07-49.58,47.48
			c-25.921,4.929-52.047,7.036-78.147,6.313c-0.519-0.014-1.018,0.187-1.38,0.559c-3.704,3.802-24.303,24.948-24.303,24.948
			l-25.85,26.53c-1.89,1.97-5.21,0.63-5.21-2.09v-54.422c0-0.899-0.642-1.663-1.525-1.836c-0.005-0.001-0.01-0.002-0.015-0.003
			c-19.8-4.41-44.71-28.28-49.58-47.48c-8.1-37.15-8.1-74.81,0-111.96c4.87-19.2,29.78-43.07,49.58-47.48
			c45.27-8.61,91.17-8.61,136.43,0c19.81,4.41,44.72,28.28,49.58,47.48C353.765,190.011,353.765,227.671,345.656,264.821z"/><path style="fill:#FFFFFF;" d="M270.937,289.942c-3.044-0.924-5.945-1.545-8.639-2.663
			c-27.916-11.582-53.608-26.524-73.959-49.429c-11.573-13.025-20.631-27.73-28.288-43.292c-3.631-7.38-6.691-15.049-9.81-22.668
			c-2.844-6.948,1.345-14.126,5.756-19.361c4.139-4.913,9.465-8.673,15.233-11.444c4.502-2.163,8.943-0.916,12.231,2.9
			c7.108,8.25,13.637,16.922,18.924,26.485c3.251,5.882,2.359,13.072-3.533,17.075c-1.432,0.973-2.737,2.115-4.071,3.214
			c-1.17,0.963-2.271,1.936-3.073,3.24c-1.466,2.386-1.536,5.2-0.592,7.794c7.266,19.968,19.513,35.495,39.611,43.858
			c3.216,1.338,6.446,2.896,10.151,2.464c6.205-0.725,8.214-7.531,12.562-11.087c4.25-3.475,9.681-3.521,14.259-0.624
			c4.579,2.898,9.018,6.009,13.43,9.153c4.331,3.086,8.643,6.105,12.638,9.623c3.841,3.383,5.164,7.821,3.001,12.412
			c-3.96,8.408-9.722,15.403-18.034,19.868C276.387,288.719,273.584,289.127,270.937,289.942
			C267.893,289.017,273.584,289.127,270.937,289.942z"/><path style="fill:#FFFFFF;" d="M227.942,131.471c36.515,1.023,66.506,25.256,72.933,61.356c1.095,6.151,1.485,12.44,1.972,18.683
			c0.205,2.626-1.282,5.121-4.116,5.155c-2.927,0.035-4.244-2.414-4.434-5.039c-0.376-5.196-0.637-10.415-1.353-15.568
			c-3.78-27.201-25.47-49.705-52.545-54.534c-4.074-0.727-8.244-0.918-12.371-1.351c-2.609-0.274-6.026-0.432-6.604-3.675
			c-0.485-2.719,1.81-4.884,4.399-5.023C226.527,131.436,227.235,131.468,227.942,131.471
			C264.457,132.494,227.235,131.468,227.942,131.471z"/><path style="fill:#FFFFFF;" d="M283.434,203.407c-0.06,0.456-0.092,1.528-0.359,2.538c-0.969,3.666-6.527,4.125-7.807,0.425
			c-0.379-1.098-0.436-2.347-0.438-3.529c-0.013-7.734-1.694-15.46-5.594-22.189c-4.009-6.916-10.134-12.73-17.318-16.248
			c-4.344-2.127-9.042-3.449-13.803-4.237c-2.081-0.344-4.184-0.553-6.275-0.844c-2.534-0.352-3.887-1.967-3.767-4.464
			c0.112-2.34,1.822-4.023,4.372-3.879c8.38,0.476,16.474,2.287,23.924,6.232c15.15,8.023,23.804,20.687,26.33,37.597
			c0.114,0.766,0.298,1.525,0.356,2.294C283.198,199.002,283.288,200.903,283.434,203.407
			C283.374,203.863,283.288,200.903,283.434,203.407z"/><path style="fill:#FFFFFF;" d="M260.722,202.523c-3.055,0.055-4.69-1.636-5.005-4.437c-0.219-1.953-0.392-3.932-0.858-5.832
			c-0.918-3.742-2.907-7.21-6.055-9.503c-1.486-1.083-3.17-1.872-4.934-2.381c-2.241-0.647-4.568-0.469-6.804-1.017
			c-2.428-0.595-3.771-2.561-3.389-4.839c0.347-2.073,2.364-3.691,4.629-3.527c14.157,1.022,24.275,8.341,25.719,25.007
			c0.102,1.176,0.222,2.419-0.039,3.544C263.539,201.464,262.113,202.429,260.722,202.523
			C257.667,202.578,262.113,202.429,260.722,202.523z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="tg://resolve?domain=felixhotel"><svg class="mr-2" version="1.1" width="15px" height="15px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><circle style="fill:#41B4E6;" cx="255.997" cy="256" r="255.997"/><path style="fill:#0091C8;" d="M512,256.003c0-6.238-0.235-12.419-0.673-18.546L405.228,131.36L106.772,248.759l114.191,114.192
	l1.498,5.392l1.939-1.955l0.008,0.008l-1.947,1.947L348.778,494.66C444.298,457.5,512,364.663,512,256.003z"/><polygon style="fill:#FFFFFF;" points="231.138,293.3 346.829,380.647 405.228,131.36 106.771,248.759 197.588,278.84
	363.331,167.664 "/><polygon style="fill:#D2D2D7;" points="197.588,278.84 222.461,368.344 231.138,293.3 363.331,167.664 "/><polygon style="fill:#B9B9BE;" points="268.738,321.688 222.461,368.344 231.138,293.3 "/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> +996 (779) 22-23-32</a>
                          </div>
                        </div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100 mobile" src="{% static 'images/slider-mobile3.jpg' %}" alt="First slide">
	      <img class="d-block w-100 desktop" src="{% static 'images/slider-desktop3.jpg' %}" alt="First slide">
	      <div class="carousel-caption">
	      	<div class="row">
	      		<div class="col-12 text-center">
	      			<div class="main_text_bg">
		      			<span class="logo main_text">
		      				КОСМЕТИКА И ТЕКСТИЛЬ ДЛЯ ОТЕЛЕЙ
		      				<br/>
		      				по самым низким ценам
		      			</span>
		      		</div>
	      		</div>
	      	</div>
		    <div class="col-12 text-center my-auto">
					<div class="col-12 py-3 py-lg-5">
						<button type="button" class="btn btn-dark call_request_bigger" data-toggle="modal" data-target="#request_price_list_modal">ЗАКАЗАТЬ ПРАЙС-ЛИСТ</button>
					</div>
				</div>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100 mobile" src="{% static 'images/slider-mobile2.jpg' %}" alt="First slide">
	      <img class="d-block w-100 desktop" src="{% static 'images/slider-desktop2.jpg' %}" alt="First slide">
	      <div class="carousel-caption">
	      	<div class="row">
	      		<div class="col-12 text-center">
	      			<div class="main_text_bg">
		      			<span class="logo main_text">
		      				КОСМЕТИКА И ТЕКСТИЛЬ ДЛЯ ОТЕЛЕЙ
		      				<br/>
		      				по самым низким ценам
		      			</span>
		      		</div>
	      		</div>
	      	</div>
		    <div class="col-12 text-center my-auto">
					<div class="col-12 py-3 py-lg-5">
						<button type="button" class="btn btn-dark call_request_bigger" data-toggle="modal" data-target="#request_price_list_modal">ЗАКАЗАТЬ ПРАЙС-ЛИСТ</button>
					</div>
				</div>
		  </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

	<div class="container-fluid" id="numbers">
		<div class="row h-100">
			<div class="col-8 d-block mx-auto my-auto">
				<div class="row py-2">
					<div class="col-md-4 d-block mx-auto text-center">
						<p class="number_plus">
							<span class='numscroller' data-min='1' data-max='3' data-delay='2' data-increment='1'>3</span>
							<br/>
							года на рынке
						</p>
					</div>
					<div class="col-md-4 d-block mx-auto text-center">
						<p class="number_plus">
							<span class='numscroller' data-min='1' data-max='50' data-delay='4' data-increment='1'>100</span>
							<br/>
							партнеров
						</p>
					</div>
					<div class="col-md-4 d-block mx-auto text-center">
						<p class="number_plus">
							<span class='numscroller' data-min='1' data-max='1000' data-delay='4' data-increment='1'>1000</span>
							<br/>
							наименований
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="advantages">
		<div class="row pb-5">
			<div class="col-8 d-block mx-auto">
				<div class="row mt-5">
					<div class="col-12 text-center">
						<p class="logo">ПОЧЕМУ С НАМИ ВЫГОДНО</p>
					</div>
				</div>
				<div class="row mt-5 text-center">
					<div class="col-md-4 mb-5">
						<div class="adv-img">
							<img class="my-auto" src="{% static 'images/free-examples.jpg' %}"/>
						</div>
						<p>БЕСПЛАТНЫЕ ОБРАЗЦЫ</p>
					</div>
					<div class="col-md-4 mb-5 d-block mx-auto">
						<div class="adv-img">
							<img class="my-auto" src="{% static 'images/30-cheaper.jpg' %}"/>
						</div>
						<p>ЦЕНЫ НА 30%<br/>НИЖЕ РЫНОЧНЫХ</p>
					</div>
					<div class="col-md-4 mb-5 d-block mx-auto">
						<div class="adv-img">
							<img class="my-auto" src="{% static 'images/unique-design.jpg' %}"/>
						</div>
						<p>СОЗДАНИЕ УНИКАЛЬНОГО<br/>ДИЗАЙНА ПРОДУКЦИИ</p>
					</div>
					<div class="col-md-4 mb-5 d-block mx-auto">
						<div class="adv-img">
							<img class="my-auto" src="{% static 'images/fast-delivery.jpg' %}"/>
						</div>
						<p>ОПЕРАТИВНАЯ ДОСТАВКА</p>
					</div>
                    <div class="col-md-4 mb-5 d-block mx-auto">
						<div class="adv-img">
							<img class="my-auto" src="{% static 'images/officially.jpg' %}"/>
						</div>
						<p>100% ВОЗВРАТ ДЕНЕГ.<br/>ВСЕ ОФОРМЛЯЕТСЯ ЮРИДИЧЕСКИ</p>
					</div>
					<div class="col-12">
						<button type="button" class="btn btn-dark call_request d-block mx-auto" data-toggle="modal" data-target="#request_free_test_modal">ПОЛУЧИТЬ СКИДКУ</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="order">
		<div class="row pb-5">
			<div class="col-8 d-block mx-auto">
				<div class="row mt-5">
					<div class="col-12 text-center">
						<p class="logo">КАК ЗАКАЗАТЬ</p>
					</div>
				</div>
				<div class="row mt-5 text-center">
					<div class="col-md-6 col-lg-4 mb-5">
						<img class="my-auto" src="{% static 'images/order-1.jpg' %}"/>
						<p class="mt-3">ВЫ НАМ ЗВОНИТЕ ИЛИ<br/>ОСТАВЛЯЕТЕ ЗАЯВКУ</p>
					</div>
					<div class="col-md-6 col-lg-4 mb-5 d-block mx-auto">
						<img class="my-auto" src="{% static 'images/order-3.jpg' %}"/>
						<p class="mt-3">ВЫ УТВЕРЖДАЕТЕ<br/>ПРОДУКЦИЮ</p>
					</div>
					<div class="col-md-6 col-lg-4 mb-5 d-block mx-auto">
						<img class="my-auto" src="{% static 'images/order-4.jpg' %}"/>
						<p class="mt-3">ВЫ УТВЕРЖДАЕТЕ<br/>ДИЗАЙН ПРОДУКЦИИ</p>
					</div>
					<div class="col-md-6 col-lg-4 mb-5 d-block mx-auto">
						<img class="my-auto" src="{% static 'images/order-5.jpg' %}"/>
						<p class="mt-3">ЧАСТИЧНАЯ ПРЕДОПЛАТА</p>
					</div>
					<div class="col-md-6 col-lg-4 mb-5 d-block mx-auto">
						<img class="my-auto" src="{% static 'images/order-6.jpg' %}"/>
						<p class="mt-3">ПРОИЗВОДСТВО</p>
					</div>
					<div class="col-md-6 col-lg-4 mb-5 d-block mx-auto">
						<img class="my-auto" src="{% static 'images/order-7.jpg' %}"/>
						<p class="mt-3">ДОСТАВКА И<br/>ПОСЛЕДУЮЩИЙ РАСЧЕТ</p>
					</div>
					<div class="col-12">
						<button type="button" class="btn btn-dark call_request d-block mx-auto" data-toggle="modal" data-target="#leaveRequestModal">ОСТАВИТЬ ЗАЯВКУ</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="partners">
		<div class="row pb-5">
			<div class="col-8 d-block mx-auto">
				<div class="row mt-5">
					<div class="col-12 text-center">
						<p class="logo">НАМ ДОВЕРЯЮТ</p>
					</div>
				</div>
				<div class="row mt-5 text-center">
                    {% for partner in partners %}
                        <div class="col-md-4 mb-5">
                            <img src="{{ MEDIA_URL }}{{ partner.logo }}" alt="partner-1.jpg" height="80" width="auto">
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="hot_products">
		<div class="row pb-5">
			<div class="col-8 d-block mx-auto">
				<div class="row mt-5">
					<div class="col-12 text-center">
						<p class="logo">ПОПУЛЯРНЫЕ ТОВАРЫ</p>
					</div>
				</div>
				<div class="row mt-5 text-center">
                    {% for product in products %}
                        <div class="col-md-6 col-lg-4 mb-5">
						    <img class="my-auto" src="{{ MEDIA_URL }}{{ product.image }}" width="180" height="auto"/>
						    <p class="mt-3">{{ product.name }}</p>
					    </div>
                    {% endfor %}
				</div>
				<div class="row text-center">
					<div class="col-12">
						<button type="button" class="btn btn-dark call_request d-block mx-auto" data-toggle="modal" data-target="#order_products_modal">СДЕЛАТЬ ЗАКАЗ</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="row">
			<div class="col-xs-12 col-sm-12 d-block mx-auto">
				<div class="row h-100">
				<div class="col-6 col-lg-3 text-center my-auto">
					<p class="logo">FELIX HOTEL</p>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#hot_products" class="yakor">
						<p class="links_to_sections">С НАМИ ВЫГОДНО</p>
					</a>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#partners" class="yakor">
						<p class="links_to_sections">НАМ ДОВЕРЯЮТ</p>
					</a>
				</div>
				<div class="d-none d-lg-block col-md-2 text-center my-auto">
					<a href="#order" class="yakor">
						<p class="links_to_sections">НАС РЕКОМЕНДУЮТ</p>
					</a>
				</div>
				<div class="col-6 col-lg-3 text-center my-auto">
					<div class="col-12 py-2">
						<button type="button" class="btn btn-dark call_request" data-toggle="modal" data-target="#call_request_modal">ЗАКАЗАТЬ ЗВОНОК</button>
						<div class="office_number mt-xs-1 dropup show">
                          <p class="office_number mt-xs-1" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="wtf" src="https://web.whatsapp.com/img/94e99ab189284094867d2e1220e42e9f.png">
                            <a href="#" role="button" style="color: #25d366">0779222332</a>
                          </p>

                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="tel:+996779222332"><svg class="mr-2" version="1.1" width="15" height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 578.106 578.106" style="enable-background:new 0 0 578.106 578.106;" xml:space="preserve"><g><g><path style="fill:#010002;" d="M577.83,456.128c1.225,9.385-1.635,17.545-8.568,24.48l-81.396,80.781
			c-3.672,4.08-8.465,7.551-14.381,10.404c-5.916,2.857-11.729,4.693-17.439,5.508c-0.408,0-1.635,0.105-3.676,0.309
			c-2.037,0.203-4.689,0.307-7.953,0.307c-7.754,0-20.301-1.326-37.641-3.979s-38.555-9.182-63.645-19.584
			c-25.096-10.404-53.553-26.012-85.376-46.818c-31.823-20.805-65.688-49.367-101.592-85.68
			c-28.56-28.152-52.224-55.08-70.992-80.783c-18.768-25.705-33.864-49.471-45.288-71.299
			c-11.425-21.828-19.993-41.616-25.705-59.364S4.59,177.362,2.55,164.51s-2.856-22.95-2.448-30.294
			c0.408-7.344,0.612-11.424,0.612-12.24c0.816-5.712,2.652-11.526,5.508-17.442s6.324-10.71,10.404-14.382L98.022,8.756
			c5.712-5.712,12.24-8.568,19.584-8.568c5.304,0,9.996,1.53,14.076,4.59s7.548,6.834,10.404,11.322l65.484,124.236
			c3.672,6.528,4.692,13.668,3.06,21.42c-1.632,7.752-5.1,14.28-10.404,19.584l-29.988,29.988c-0.816,0.816-1.53,2.142-2.142,3.978
			s-0.918,3.366-0.918,4.59c1.632,8.568,5.304,18.36,11.016,29.376c4.896,9.792,12.444,21.726,22.644,35.802
			s24.684,30.293,43.452,48.653c18.36,18.77,34.68,33.354,48.96,43.76c14.277,10.4,26.215,18.053,35.803,22.949
			c9.588,4.896,16.932,7.854,22.031,8.871l7.648,1.531c0.816,0,2.145-0.307,3.979-0.918c1.836-0.613,3.162-1.326,3.979-2.143
			l34.883-35.496c7.348-6.527,15.912-9.791,25.705-9.791c6.938,0,12.443,1.223,16.523,3.672h0.611l118.115,69.768
			C571.098,441.238,576.197,447.968,577.83,456.128z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
<path d="M0 58l4.988-14.963C2.457 38.78 1 33.812 1 28.5 1 12.76 13.76 0 29.5 0S58 12.76 58 28.5 45.24 57 29.5 57c-4.789 0-9.299-1.187-13.26-3.273L0 58z" fill="#2cb742"></path><path d="M47.683 37.985c-1.316-2.487-6.169-5.331-6.169-5.331-1.098-.626-2.423-.696-3.049.42 0 0-1.577 1.891-1.978 2.163-1.832 1.241-3.529 1.193-5.242-.52l-3.981-3.981-3.981-3.981c-1.713-1.713-1.761-3.41-.52-5.242.272-.401 2.163-1.978 2.163-1.978 1.116-.627 1.046-1.951.42-3.049 0 0-2.844-4.853-5.331-6.169a2.7261 2.7261 0 0 0-3.203.482l-1.758 1.758c-5.577 5.577-2.831 11.873 2.746 17.45l5.097 5.097 5.097 5.097c5.577 5.577 11.873 8.323 17.45 2.746l1.758-1.758c.846-.848 1.041-2.147.481-3.204z" fill="#fff"></path></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="https://wa.me/996779222332"><svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 58 58"><path d="M0 58l4.988-14.963C2.457 38.78 1 33.812 1 28.5 1 12.76 13.76 0 29.5 0S58 12.76 58 28.5 45.24 57 29.5 57c-4.789 0-9.299-1.187-13.26-3.273L0 58z" fill="#2cb742"></path><path d="M47.683 37.985c-1.316-2.487-6.169-5.331-6.169-5.331-1.098-.626-2.423-.696-3.049.42 0 0-1.577 1.891-1.978 2.163-1.832 1.241-3.529 1.193-5.242-.52l-3.981-3.981-3.981-3.981c-1.713-1.713-1.761-3.41-.52-5.242.272-.401 2.163-1.978 2.163-1.978 1.116-.627 1.046-1.951.42-3.049 0 0-2.844-4.853-5.331-6.169a2.7261 2.7261 0 0 0-3.203.482l-1.758 1.758c-5.577 5.577-2.831 11.873 2.746 17.45l5.097 5.097 5.097 5.097c5.577 5.577 11.873 8.323 17.45 2.746l1.758-1.758c.846-.848 1.041-2.147.481-3.204z" fill="#fff"></path></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="viber://chat?number=+996779222332"><svg class="mr-2" version="1.1" width="15" height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 455.731 455.731" style="enable-background:new 0 0 455.731 455.731;" xml:space="preserve"><g><rect x="0" y="0" style="fill:#7D3DAF;" width="455.731" height="455.731"/><g><path style="fill:#FFFFFF;" d="M371.996,146.901l-0.09-0.36c-7.28-29.43-40.1-61.01-70.24-67.58l-0.34-0.07
			c-48.75-9.3-98.18-9.3-146.92,0l-0.35,0.07c-30.13,6.57-62.95,38.15-70.24,67.58l-0.08,0.36c-9,41.1-9,82.78,0,123.88l0.08,0.36
			c6.979,28.174,37.355,58.303,66.37,66.589v32.852c0,11.89,14.49,17.73,22.73,9.15l33.285-34.599
			c7.219,0.404,14.442,0.629,21.665,0.629c24.54,0,49.09-2.32,73.46-6.97l0.34-0.07c30.14-6.57,62.96-38.15,70.24-67.58l0.09-0.36
			C380.996,229.681,380.996,188.001,371.996,146.901z M345.656,264.821c-4.86,19.2-29.78,43.07-49.58,47.48
			c-25.921,4.929-52.047,7.036-78.147,6.313c-0.519-0.014-1.018,0.187-1.38,0.559c-3.704,3.802-24.303,24.948-24.303,24.948
			l-25.85,26.53c-1.89,1.97-5.21,0.63-5.21-2.09v-54.422c0-0.899-0.642-1.663-1.525-1.836c-0.005-0.001-0.01-0.002-0.015-0.003
			c-19.8-4.41-44.71-28.28-49.58-47.48c-8.1-37.15-8.1-74.81,0-111.96c4.87-19.2,29.78-43.07,49.58-47.48
			c45.27-8.61,91.17-8.61,136.43,0c19.81,4.41,44.72,28.28,49.58,47.48C353.765,190.011,353.765,227.671,345.656,264.821z"/><path style="fill:#FFFFFF;" d="M270.937,289.942c-3.044-0.924-5.945-1.545-8.639-2.663
			c-27.916-11.582-53.608-26.524-73.959-49.429c-11.573-13.025-20.631-27.73-28.288-43.292c-3.631-7.38-6.691-15.049-9.81-22.668
			c-2.844-6.948,1.345-14.126,5.756-19.361c4.139-4.913,9.465-8.673,15.233-11.444c4.502-2.163,8.943-0.916,12.231,2.9
			c7.108,8.25,13.637,16.922,18.924,26.485c3.251,5.882,2.359,13.072-3.533,17.075c-1.432,0.973-2.737,2.115-4.071,3.214
			c-1.17,0.963-2.271,1.936-3.073,3.24c-1.466,2.386-1.536,5.2-0.592,7.794c7.266,19.968,19.513,35.495,39.611,43.858
			c3.216,1.338,6.446,2.896,10.151,2.464c6.205-0.725,8.214-7.531,12.562-11.087c4.25-3.475,9.681-3.521,14.259-0.624
			c4.579,2.898,9.018,6.009,13.43,9.153c4.331,3.086,8.643,6.105,12.638,9.623c3.841,3.383,5.164,7.821,3.001,12.412
			c-3.96,8.408-9.722,15.403-18.034,19.868C276.387,288.719,273.584,289.127,270.937,289.942
			C267.893,289.017,273.584,289.127,270.937,289.942z"/><path style="fill:#FFFFFF;" d="M227.942,131.471c36.515,1.023,66.506,25.256,72.933,61.356c1.095,6.151,1.485,12.44,1.972,18.683
			c0.205,2.626-1.282,5.121-4.116,5.155c-2.927,0.035-4.244-2.414-4.434-5.039c-0.376-5.196-0.637-10.415-1.353-15.568
			c-3.78-27.201-25.47-49.705-52.545-54.534c-4.074-0.727-8.244-0.918-12.371-1.351c-2.609-0.274-6.026-0.432-6.604-3.675
			c-0.485-2.719,1.81-4.884,4.399-5.023C226.527,131.436,227.235,131.468,227.942,131.471
			C264.457,132.494,227.235,131.468,227.942,131.471z"/><path style="fill:#FFFFFF;" d="M283.434,203.407c-0.06,0.456-0.092,1.528-0.359,2.538c-0.969,3.666-6.527,4.125-7.807,0.425
			c-0.379-1.098-0.436-2.347-0.438-3.529c-0.013-7.734-1.694-15.46-5.594-22.189c-4.009-6.916-10.134-12.73-17.318-16.248
			c-4.344-2.127-9.042-3.449-13.803-4.237c-2.081-0.344-4.184-0.553-6.275-0.844c-2.534-0.352-3.887-1.967-3.767-4.464
			c0.112-2.34,1.822-4.023,4.372-3.879c8.38,0.476,16.474,2.287,23.924,6.232c15.15,8.023,23.804,20.687,26.33,37.597
			c0.114,0.766,0.298,1.525,0.356,2.294C283.198,199.002,283.288,200.903,283.434,203.407
			C283.374,203.863,283.288,200.903,283.434,203.407z"/><path style="fill:#FFFFFF;" d="M260.722,202.523c-3.055,0.055-4.69-1.636-5.005-4.437c-0.219-1.953-0.392-3.932-0.858-5.832
			c-0.918-3.742-2.907-7.21-6.055-9.503c-1.486-1.083-3.17-1.872-4.934-2.381c-2.241-0.647-4.568-0.469-6.804-1.017
			c-2.428-0.595-3.771-2.561-3.389-4.839c0.347-2.073,2.364-3.691,4.629-3.527c14.157,1.022,24.275,8.341,25.719,25.007
			c0.102,1.176,0.222,2.419-0.039,3.544C263.539,201.464,262.113,202.429,260.722,202.523
			C257.667,202.578,262.113,202.429,260.722,202.523z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> +996 (779) 22-23-32</a>
                            <a class="dropdown-item" href="tg://resolve?domain=felixhotel"><svg class="mr-2" version="1.1" width="15px" height="15px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><circle style="fill:#41B4E6;" cx="255.997" cy="256" r="255.997"/><path style="fill:#0091C8;" d="M512,256.003c0-6.238-0.235-12.419-0.673-18.546L405.228,131.36L106.772,248.759l114.191,114.192
	l1.498,5.392l1.939-1.955l0.008,0.008l-1.947,1.947L348.778,494.66C444.298,457.5,512,364.663,512,256.003z"/><polygon style="fill:#FFFFFF;" points="231.138,293.3 346.829,380.647 405.228,131.36 106.771,248.759 197.588,278.84
	363.331,167.664 "/><polygon style="fill:#D2D2D7;" points="197.588,278.84 222.461,368.344 231.138,293.3 363.331,167.664 "/><polygon style="fill:#B9B9BE;" points="268.738,321.688 222.461,368.344 231.138,293.3 "/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg> +996 (779) 22-23-32</a>
                          </div>
                        </div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade formMainModal" id="call_request_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
          <form method="post" action="{% url 'send_email' %}" class="myForm">
          {% csrf_token %}
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLabel">
	        	Оставьте ваш номер и мы перезвоним Вам!
			</p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
              <div class="form-group">
	            <input type="hidden" class="form-control" id="button" name="button" value="ЗАКАЗАТЬ ЗВОНОК">
	          </div>
	          <div class="form-group">
	            <label for="recipient-phone2" class="col-form-label">Ваш номер:</label>
	            <input type="text" class="form-control datas" id="recipient-phone2" name="recipient-phone" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name2" class="col-form-label">Ваше имя:</label>
	            <input type="text" class="form-control datas" id="recipient-name2" name="recipient-name" required>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-primary">Отправить</button>
	      </div>
          </form>
	    </div>
	  </div>
	</div>

	<div class="modal fade formMainModal" id="request_price_list_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
          <form method="post" action="{% url 'send_email' %}" class="myForm">
          {% csrf_token %}
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLabel">
	        	Заполните форму, и мы отправим Вам наш прайс-лист!
			</p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
              <div class="form-group">
	            <input type="hidden" class="form-control" id="button2" name="button" value="ЗАКАЗАТЬ ПРАЙС-ЛИСТ">
	          </div>
	          <div class="form-group">
	            <label for="recipient-phone3" class="col-form-label">Ваш номер:</label>
	            <input type="text" class="form-control datas" id="recipient-phone3" name="recipient-phone" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name3" class="col-form-label">Ваше имя:</label>
	            <input type="text" class="form-control datas" id="recipient-name3" name="recipient-name" required>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-primary">Отправить</button>
	      </div>
          </form>
	    </div>
	  </div>
	</div>

	<div class="modal fade formMainModal" id="request_free_test_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
          <form method="post" action="{% url 'send_email' %}" class="myForm">
          {% csrf_token %}
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLabel">
	        Заполните форму, и мы предоставим Вам скидку!
	    	</p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
              <div class="form-group">
	            <input type="hidden" class="form-control" id="button3" name="button" value="ПОЛУЧИТЬ СКИДКУ">
	          </div>
	          <div class="form-group">
	            <label for="recipient-phone1" class="col-form-label">Ваш номер:</label>
	            <input type="text" class="form-control datas" id="recipient-phone1" name="recipient-phone" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name1" class="col-form-label">Ваше имя:</label>
	            <input type="text" class="form-control datas" id="recipient-name1" name="recipient-name" required>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-primary">Отправить</button>
	      </div>
          </form>
	    </div>
	  </div>
	</div>

	<div class="modal fade formMainModal" id="leaveRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
          <form method="post" action="{% url 'send_email' %}" class="myForm">
          {% csrf_token %}
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLabel">
	        Оставьте заявку, и наш менеджер свяжется с Вами в ближайшее время!
	    	</p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
              <div class="form-group">
	            <input type="hidden" class="form-control" id="button4" name="button" value="ОСТАВИТЬ ЗАЯВКУ">
	          </div>
	          <div class="form-group">
	            <label for="recipient-phone" class="col-form-label">Ваш номер:</label>
	            <input type="text" class="form-control datas" id="recipient-phone" name="recipient-phone" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Ваше имя:</label>
	            <input type="text" class="form-control datas" id="recipient-name" name="recipient-name" required>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-primary">Отправить</button>
	      </div>
          </form>
	    </div>
	  </div>
	</div>

	<div class="modal fade formMainModal" id="order_products_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
          <form method="post" action="{% url 'send_email' %}" class="myForm">
          {% csrf_token %}
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLabel">
	        	Для того чтобы сделать заказ, отправьте нам Ваш номер телефона, и наш менеджер свяжется с Вами!
	        </p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
              <div class="form-group">
	            <input type="hidden" class="form-control" id="button5" name="button" value="СДЕЛАТЬ ЗАКАЗ">
	          </div>
	          <div class="form-group">
	            <label for="recipient-phone4" class="col-form-label">Ваш номер:</label>
	            <input type="text" class="form-control datas" id="recipient-phone4" name="recipient-phone" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name4" class="col-form-label">Ваше имя:</label>
	            <input type="text" class="form-control datas" id="recipient-name4" name="recipient-name" required>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-primary">Отправить</button>
	      </div>
          </form>
	    </div>
	  </div>
	</div>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Ваши данные успешно отправлены. Менеджер свяжется с Вами в ближайшее время</p>
          </div>
          <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	      </div>
        </div>
      </div>
    </div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/numscroller-1.0.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/headhesive.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'plugins/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajaxform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/send_ajax_requests.js' %}"></script>
	<script type="text/javascript">
		// Set options
		var options = {
		    offset: '#numbers',
		    offsetSide: 'top',
		    classes: {
		        clone:   'banner--clone',
		        stick:   'banner--stick',
		        unstick: 'banner--unstick'
		    }
		};
		// Initialise with options
		var banner = new Headhesive('.banner', options);
		// Headhesive destroy
		// banner.destroy();

		//плавный скролл для ссылок-якорей
		var linkNav = document.querySelectorAll('[class="yakor"]'), //выбираем все ссылки к якорю на странице
		V = 0.5;  // скорость, может иметь дробное значение через точку (чем меньше значение - тем больше скорость)
		for (var i = 0; i < linkNav.length; i++) {
            linkNav[i].addEventListener('click', function (e) { //по клику на ссылку
                e.preventDefault(); //отменяем стандартное поведение
                var w = window.pageYOffset,  // производим прокрутка прокрутка
                    hash = this.href.replace(/[^#]*(.*)/, '$1');  // к id элемента, к которому нужно перейти
                t = document.querySelector(hash).getBoundingClientRect().top,  // отступ от окна браузера до id
                    start = null;
                requestAnimationFrame(step);  // подробнее про функцию анимации [developer.mozilla.org]
                function step(time) {
                    if (start === null) start = time;
                    var progress = time - start,
                        r = (t < 0 ? Math.max(w - progress / V, w + t) : Math.min(w + progress / V, w + t));
                    window.scrollTo(0, r);
                    if (r != w + t) {
                        requestAnimationFrame(step)
                    } else {
                        location.hash = hash  // URL с хэшем
                    }
                }
            }, false);
        }
	</script>

</body>
</html>